<%= turbo_frame_tag "modal", class:"flex flex-wrap w-full mb-20 flex-col items-center text-center" do %>
    <%= tag.div data: { controller: "turbo-modal", turbo_modal_target: "modal",
                        action: "turbo:submit-end->turbo-modal#submitEnd keyup@window->turbo-modal#closeWithKeyboard click@window->turbo-modal#closeBackground" },
                        class: "p-5 mt-12 bg-slate-200 bg-opacity-95 absolute z-10 rounded-md w-5/6 md:w-1/2 break-words text-center items-center" do %>
    <section class="text-gray-600 body-font relative">
      <div class="container py-2 md:py-12 mx-auto">
        <%= form_with model: @quiz, local: true do |f| %>
          <%= render 'shared/error_message', object: f.object %>
          <div class="relative mb-3">
            <%= f.label :photo %>
            <%= f.file_field :photo ,onchange: "quizPhoto(this);", accept: "image/jpeg,image/gif,image/png"%>
            <details class="py-2 px-4 md:px-24">
              <summary class="hover:text-blue-700">※写真についての注意事項</summary>
                <ul>
                  <li>日本国内の風景の写真に限ります。</li>
                  <li>ご自身が撮影された写真に限ります。</li>
                  <li>写真一枚あたりの上限は2MBです。</li>
                </ul>
            </details>
            <div id="photo" >
              <img id="photo_preview" class="mb-3" width="100%">
            </div>
            <% if @quiz.photo.present? %>
              <span><b>[プレビュー]</b></span>
              <%= image_tag @quiz.photo, width: "100%", class: "mb-2" %>
            <% end %>
          </div>
          <div class="relative mb-3">
            <%= f.label :prefecture_id %>
            <%= f.collection_select( :prefecture_id, Prefecture.all, :id, :name, include_blank: "選択して下さい" ) %>
          </div>
          <div class="relative mb-3">
            <label>
              <%= check_box_tag 'create_random_choices', true, true, onclick:"checkdiv(this,'checkBox')" %>正解以外の選択肢を自動生成する
            </label>
          </div>
          <div id="checkBox" class="hidden">
            <%= f.fields_for :choices do |choices_form| %>
              <div class="relative mb-3">
                <%= choices_form.label :prefecture_id %>
                <%= choices_form.collection_select( :prefecture_id, Prefecture.all, :id, :name, include_blank: "選択して下さい" ) %>
              </div>
            <% end %>
          </div>
          <div class="relative mb-3">
            <%= f.label :hint %>
            <%= f.text_field :hint, placeholder:"ヒントを入力(任意)" %>
          </div>
          <div class="relative mb-3 text-center">
            <%= f.label :description %>
            <%= f.text_area :description, placeholder:"写真の場所についての説明を入力", class:"h-20 break-words align-top" %>
          </div>
          <div class="rounded-b mt-6 px-4 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
            <%= f.submit class: "w-full sm:col-start-2 bg-blue-600 px-4 py-2 mb-4 text-white rounded-sm hover:bg-blue-700" %>
            <%= button_tag "キャンセル", data: { action: "turbo-modal#hideModal" }, type: "button", class:"mt-3 w-full sm:mt-0 sm:col-start-1 mb-4 bg-gray-400 hover:bg-gray-200 text-white rounded-sm px-4 py-2" %>
          </div>
        <% end %>
      </div>
    </section>
  <% end %>
<% end %>

<script>
  //画像プレビュー
  function quizPhoto(obj){
      var fileReader = new FileReader();
      fileReader.onload = (function() {
        document.getElementById('photo_preview').src = fileReader.result;
      });
      fileReader.readAsDataURL(obj.files[0]);
  }
  //チェックボックスオン時に選択肢を非表示
  function checkdiv( obj,id ) {
  if( obj.checked ){
    document.getElementById(id).style.display = "none";
    }
  else {
    document.getElementById(id).style.display = "block";
    }
  }
</script>
