<div class="flex flex-wrap w-full mb-20 flex-col items-center text-center mx-72">
  <div class="bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
    <h1 class="text-gray-900 text-lg font-medium title-font mb-5">ログイン</h1>
    <%= form_with url: login_path, local: true do |f| %>
      <div class="relative mb-3">
        <%= f.label :email, "メールアドレス", class:"leading-7 text-sm text-gray-600" %>
        <%= f.text_field :email, class:"w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %>
      </div>
      <div class="relative mb-3">
        <%= f.label :password, "パスワード", class:"leading-7 text-sm text-gray-600" %>
        <%= f.password_field :password, class:"w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" %>
      </div>
      <%= f.submit "ログイン", class:"text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" %>
    <% end %>
    <div class="mt-10">
      <%= button_to "新規登録はこちら", new_user_path, method: :get, class: "inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" %>
    </div>
  </div>
</div>
