<!DOCTYPE html>
<html>
  <head>
    <title>PrefectureQuiz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if logged_in? %>
      <%= render "shared/header" %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    <div id="flash">
      <%= render "shared/flash" %>
    </div>
    <main class="container mx-auto mt-28 px-5 flex">
      <div class="container items-center absolute pr-12">
        <%= turbo_frame_tag "modal" %>
      </div>
      <%= yield %>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
